node_modules
ui/node_modules
.env
.DS_Store
dist
ui/dist
ui/.next

# History data
.history/

# Database
.database/

# Test files
test-*.ts
test-*.js
ui/node_modules/next/dist/server/lib/start-server.js
ui/node_modules/next/dist/server/lib/start-server.js
ui/node_modules/next/dist/compiled/webpack/bundle5.js
node_modules/.package-lock.json
.env
ui/node_modules